{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "6.10"
        }
      }
    ],
    "react",
    ["es2015", {"modules": false}],
    "stage-0"
  ],
  "plugins": [
    ["zent", {
      "noModuleRewrite": false,
      "useESM": true,
      "automaticStyleImport": true,
      "useRawStyle": true
  }],
    "add-module-exports"
  ]
}