.address-detail {
  width: 540px;
  display: inline-block;
  .zent-input {
    width: 540px;
  }
}

.address-search-btn {
  margin-left: 5px;
}

.map-wrapper {
  border: 1px solid #bbb;
  border-radius: 2px;
  width: 680px;
  height: 400px;
}